@model SRKSSynergy.Models.Zone

    @{
	    ViewBag.Title = "Create Zonal Manager";
    }

    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/datepicker.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/jquery.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap/js/accounting.js"></script>
<!-- glyphicons help -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <style>
	    .validation-summary-valid {
		    display: none;
	    }
    </style>
    <script>
	    $(document).ready(function () {
		    $("#untpr").keyup(function () {
			    var value = accounting.unformat($("#untpr").val());
			    $("#untpr").val(accounting.formatMoney(value));
		    });
	    });
    </script>
    @{
	    List<SelectListItem> listItems1 = new List<SelectListItem>();
	    listItems1.Add(new SelectListItem
		     {
			     Text = "North",
                 Value = "North"
		     });
	    listItems1.Add(new SelectListItem
		     {
			     Text = "East",
                 Value = "East",
		     });
	    listItems1.Add(new SelectListItem
		     {
			     Text = "West & Central",
                 Value = "West & Central"
		     });
	    listItems1.Add(new SelectListItem
	    {
		    Text = "South",
            Value = "South"
	    });
    }
    
    <div class="bcgr" style="min-height: 590px">

	    @using (Html.BeginForm())
	    {
		    @Html.AntiForgeryToken()
		    @Html.ValidationSummary(true)
		    <div style="background: gray; padding-bottom: 15px">
			    <p class="txtft">Create Zonal Details</p>
		    </div>
    @*<div class="bcgr">*@ 
		    <div class="row" style="padding-top: 10px">
			    <div class=" row show-grid">
				    <div class="span10 pad">
					    <div class="span3">
						    <div class="control-group">
							    <label class="control-label fntst">Zone Name</label>
							    <div class="controls">
								    @Html.DropDownListFor(model => model.ZoneName, listItems1, "-- Select Quantity --", new { @id = "zone", @name = "zone",@class="fntst",@placeholder="Ex: North", @required = "required"})
							    </div>
						    </div>
					    </div>
					    <div class="span1"></div>
					    <div class="span3">
						    <div class="control-group">
							    <label class="control-label fntst">Zonal Manager Name</label>
							    <div class="controls">
								   @* @Html.TextBoxFor(model => model.ZonalMangerName, new { @id = "zm", @maxlength = "20", @class = "fntst", @placeholder = "Zonal Manager Name",@required="required" })
								    @Html.ValidationMessageFor(model => model.ZonalMangerName)*@
                                    @Html.DropDownListFor(m => m.ZonalMangerName, (SelectList)ViewData["ContactName"], "--Select Channel Partner--", new { id = "ContactName", @required = "required" })
							    </div>
						    </div>
					    </div>
				    </div>
				    <div class="span10 pad ">
                        <div class="span3 cent" style="padding-left: 2%">
                            <button class="btn btn-success btn-large glyphicon glyphicon-arrow-left" style="display: inline;">@Html.ActionLink(" Back_to_List", "Index","ZonalMaster", new { @Style="color:white;text-decoration:none"})</button>
                        </div>
                        <div class="span3 cent" style="padding-left: 20%">
                            @*<button class="btn btn-success" value="create" type="submit" style="display: inline;">Save Zone</button>*@
                            <button class="btn btn-success btn-large glyphicon glyphicon-cloud-upload " value="update" type="submit" style="display: inline"> Save</button>
                        </div>
					    <p style="color: red;font-family:Calibri;font-size:18px;font-weight:900">
						    @Html.Label("", Convert.ToString((string)ViewBag.Duplicate))
				        </p>					
				    </div>
				
			    </div>
		    </div>
	
	    }

	    <div>
		    
	    </div>
    </div>
    @*@section Scripts {
	    @Scripts.Render("~/bundles/jqueryval")
    }*@
 
