@model  SRKSSynergy.Models.OAEquipGeneralData
@*@using SRKSSynergy.Helpers*@
@{
    ViewBag.Title = "Order Approval Comment";
    Layout = null;
}
<link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
@*<script src="~/Content/bootstrap/js/jquery-1.9.1.js"></script>
<script src="~/Content/bootstrap/js/jquery1.8.2.min.js"></script>
<script src="~/Content/bootstrap/js/jquery-ui-1.10.3.js"></script>*@
@*<script src="~/Content/bootstrap/js/bootstrap.js"></script>*@
@*@Scripts.Render("~/bundles/modernizr")*@
<div style="background: #e5e5e5; min-height: 600px">

    @using (Html.BeginForm("OAApproveComment", "OA", Model, FormMethod.Post))
    {
	  
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div style="background: gray; padding-bottom: 15px">
            <p class="txtft">Approval Comment</p>
        </div>
        @Html.HiddenFor(model => model.OAID)
        @Html.HiddenFor(model => model.QGID)
        @Html.HiddenFor(model => model.QuotationNumber)
        @Html.HiddenFor(model => model.OANumber)
        @Html.HiddenFor(model => model.CPQuotationNumber)
        @Html.HiddenFor(model => model.KindAttention)
        @Html.HiddenFor(model => model.Subjectinfo)
        @Html.HiddenFor(model => model.CompanyUniqueID)
        @Html.HiddenFor(model => model.QuotationDate)
        @Html.HiddenFor(model => model.OADate)
        @Html.HiddenFor(model => model.MDBID)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.ModifiedOn)
        @Html.HiddenFor(model => model.ModifiedBy)
        @Html.HiddenFor(model => model.Islatest)
        @Html.HiddenFor(model => model.CPID)
        @Html.HiddenFor(model => model.OAStatus)
        @Html.HiddenFor(model => model.ApprovalStatus)
        @Html.HiddenFor(model => model.Approvaldate)

        <div class="row" style="padding-top: 10px">
            <div class=" row show-grid">
                <div class="span12 pad ">
                    <div class="span3">
                        <div class="control-group ">
                            <label class="control-label fntst " style="font-size: 18px">Approval Comment</label>
                            <div class="controls ">
                                @Html.TextAreaFor(model => model.OARejectComm, new { @id = "oarej", @name = "oarej", rows = 4, columns = 20, @style = "width:900px", @placeholder = "Approval Comments", @required = "required" })
                                @Html.ValidationMessageFor(model => model.OARejectComm)
                                @*<textarea name="oarej" rows="2" cols="4" class="fntst" placeholder="Rejection Comments"></textarea>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class=" row show-grid">
                <div class="span12 pad ">
                    <div class="span3">
                        <div class="controls ">
                            <input type="submit" value="Submit" id="sub" class="btn btn-large btn-info" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
