<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Synergy Application</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/jquery-1.9.1.min.js"></script>
</head>
<body>

    @model SRKSSynergy.Models.ForgotPasswordModel
 
    @{
        Layout = null;
        ViewBag.Title = "Forgot Password";
    }
    <script>
        $(document).ready(function () {
            $('#secque').change(function () {
                var passval1 = $(':selected', this).val();
                $('#secquestion').val(passval1);
            });
        });
    </script>
    <div class="bcgr" style="min-height: 620px">
        @using (Html.BeginForm())
        {
            <div style="background: gray; padding-bottom: 15px">
                <p class="txtft">Forgot Password</p>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <div class="span10 pad" style="padding-top:20px">
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label fntst">UserName</label>
                        <div class="controls">
                            @*<input type="text" class="fntst" id="addr1" placeholder="Address (Line1)">*@
                            @Html.TextBoxFor(m => m.UserName, new { @id = "usr", @class = "fntst", @placeholder = "UserName", @required = "required" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="span10 pad">
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label fntst">Security Question</label>
                        <div class="controls">
                            <select id="secque" name="secque" class=" input-xxlarge fntst" required="required">
                                <option value="">-- Select Question --</option>
                                <option value="What is your first school name?">What is your first school name?</option>
                                <option value="What is the name of your Favourite Teacher?">What is the name of your Favourite Teacher?</option>
                                <option value="What was your childhood nickname? ">What was your childhood nickname? </option>
                                <option value="In what city or town was your first job?">In what city or town was your first job?</option>
                                <option value="What was your favorite place to visit as a child?">What was your favorite place to visit as a child?</option>
                            </select>
                            @Html.HiddenFor(model => model.Question, new { @id = "secquestion" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="span10 pad">
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label fntst">Answer</label>
                        <div class="controls">
                            @*<input type="text" class="fntst" id="addr1" placeholder="Address (Line1)">*@
                            @Html.TextBoxFor(model => model.Answer, new { @id = "answer", @class = "fntst", @placeholder = "Security Answer" })
                            @Html.ValidationMessageFor(model => model.Answer)
                        </div>
                    </div>
                </div>
            </div>
            @*Buttons*@
            <div class="span10 pad ">
                <div class="span3 cent">
                    <input type="submit" value="Submit" class="btn btn-large btn-success" />
                </div>
            </div>
            @*End Of Buttons*@
        }
    </div>
</body>
</html>
