@model SRKSSynergy.Models.ChannelPartners

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ChannelPartners</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPUniqueID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPUniqueID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPOrgType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPOrgType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PinCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PinCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Isd1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isd1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Std1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Std1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumLL1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumLL1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Isd2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isd2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Std2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Std2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumLL2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumLL2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyPAN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyPAN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CSTNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CSTNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Others)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Others)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postcour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postcour)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
