@{
    ViewBag.Title = "LEReport";
}

<link href="~/Content/bootstrap/css/jquery.ui.autocomplete.css" rel="stylesheet" />
<script src="~/Content/bootstrap/js/jquery1.8.2.min.js"></script>
<script src="~/Content/bootstrap/js/jquery-ui-1.10.3.js"></script>
<script src="~/Content/bootstrap/js/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap/css/datepicker.css" rel="stylesheet" />

<!-- glyphicons help -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<script type="text/javascript">
    $(document).ready(function () {
        $("#CPName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Reports/Autocomplete",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CPName, value: item.CPName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    });
</script>

@if(User.IsInRole("ZonalManager"))
{
<script type="text/javascript">
    $(document).ready(function () {
        $("#CPName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Reports/Autocompleteview",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CPName, value: item.CPName };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    });
</script>
}
<div class="bcgr" style="min-height: 700px">
	@using (Html.BeginForm("LEReport", "Reports", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<div style="background: gray; padding-bottom: 15px">
			<p class="txtft">BSOH Report</p>
		</div>
		<div class="row" style="padding-top: 10px">
			<div class=" row show-grid">
				<div class="span10 pad">
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">From Date :</label>
							<div class="controls">
								<input type="text" style="height:30px" class="fntst sss" id="fromdat" name="fromdat" placeholder="Select From Date" required="required">
							</div>
						</div>
					</div>
				</div>
				<div class="span10 pad">
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">To Date :</label>
							<div class="controls">
								<input type="text" style="height:30px" class="fntst sss" id="todat" name="todat"  placeholder="Select To Date" required="required">
							</div>
						</div>
					</div>
				</div>
				@*<div class="span10 pad">
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">Channel Partners</label>
							<div class="controls">								
						*@		  @*@Html.DropDownList("CPID", null, "--Select--", new {@id="cpid",@name="cpid", @class = "fntst",@value=ViewData["CPID"] })*@
                              @*  @Html.DropDownList("CPID", null, "--Select--", new { @class = "fntst" })
							</div>
						</div>
					</div>
				</div>*@
                <div class="span10 pad">
					<div class="span3" style="padding-left: 70px">
						<div class="control-group">
							<label class="control-label fntst">Channel Partner :</label>
							<div class="controls">
								<input type="text" style="height:30px" class="fntst excus" value="" id="CPName" name="CPName" placeholder="Channel Partner Name">
								<label style="color:red;font-size:12px;">Leave Blank for all Channel Partner Performance</label>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
     if (TempData["NoData"] != null)
     {
         <span style="color:red;font-size:18px">@TempData["NoData"]</span>
     }
		<div class="span10 pad ">
			<div class="span3 cent" style="padding-left: 70px">
				<button class="btn btn-success glyphicon glyphicon-copy" value="post" type="Submit"> Generate_Report</button>
			</div>
		</div>
     
     
	}
</div>
<script type="text/javascript">
	$(document).ready(function () {
		var now = new Date();
		var today = now.getDate() + '/' + (now.getMonth() + 1) + '/' + now.getFullYear();
		$('.sss').datepicker({
			format: 'dd/mm/yyyy',
			onRender: function (date) {
				//return date.valueOf() > now.valueOf() ? 'disabled' : '';
			}
		}).on('changeDate', function (ev) {
			$(this).datepicker('hide');
		});
	});
</script>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

