<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Synergy Application</title>
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/print.css" media="print" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    <!--Menu Active-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('#subnav ').each(function (index) {
                if (this.href.trim() == window.location)
                    $(this).parent().addClass("active");
            });
        });
    </script>
    <!--End of Menu Active-->
</head>
    <body style="padding-top: 40px">
    <header>
        <div class="noPrint">
        @if (User.IsInRole("Administrator"))
        {
            <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
                <div class="navbar-inner">
                    <div class="container" style="width: auto; padding: 0 20px;">
                        <a class="brand" href="/Account/LiveDashboard">Go Live</a>
                        <a class="brand" href="/MainDashboard/MainDashboard">Synergy</a>
                        <ul class="nav" id="subnav1">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leads<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("Single Machine", "LEIndexRevised", "LeadEnquiry")</li>

                                    <li>@Html.ActionLink("Lead Target Module", "Index", "TargetSettingsLead")</li>

                                    @*<li>@Html.ActionLink("BSOH Leads", "LEIndex", "LeadEnquiry")</li>*@
                                    <li>@*@Html.ActionLink("Target Setting", "Index", "TargetSetting")*@</li>

                                    <li>@*@Html.ActionLink("Map", "MapFilters", "LeadEnquiry")*@</li>
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MDB<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("MDB", "Index", "MDB")</li>
                                    <li>@Html.ActionLink("Channel Partners MDB", "CPMDB", "MDB")</li>
                                    <li>@Html.ActionLink("Map", "MapFilters", "LeadEnquiry")</li>
                                </ul>
                            </li>
                            <li><a href="http://13.233.129.21:8031?uid=@Session["userID"].ToString()" target="_blank">Pre-Order Stage</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SOT<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("SOT RM", "SOTRMList", "SOTRM")</li>
                                    <li>@Html.ActionLink("SOT Report", "SOTReport", "SOT")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sorter OA<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("Approve New Orders", "OAApproval", "OA")</li>
                                    <li>@Html.ActionLink("Print Approved Orders", "OAApprovalPrint", "OA")</li>
                                    <li>@Html.ActionLink("Orders Status Tracker ", "OAAllView", "OA")</li>
                                    <li>@Html.ActionLink("SAP Details ", "SAPOA", "SAPDetails")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single Machine OA<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("Approve New Orders", "RiceOAApproval", "RiceOA")</li>
                                    <li>@Html.ActionLink("Print Approved Orders", "RiceOAApprovalPrint", "RiceOA")</li>
                                    <li>@Html.ActionLink("Orders Status Tracker ", "RiceOAAllView", "RiceOA")</li>
                                    <li>@Html.ActionLink("SAP Details ", "SAPRiceOA", "SAPDetails")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Order Released Machines", "EquipSalesByVolAck", "Reports")</li>
                                    <li>@Html.ActionLink("Commissioned Machines", "EquipSalesByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Machine Invoiced", "MachineInvoiced", "Reports")</li>
                                    <li>@Html.ActionLink("SOT By Volume", "SOTByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Channel Partner Performance", "CPPerformanceReview", "Reports")</li>
                                    <li>@Html.ActionLink("Lost Order Analysis", "LostOrderAnalysisReport", "Reports")</li>
                                    <li>@Html.ActionLink("Spare Status MFR", "SpareMFR", "SpareReport")</li>
                                    <li style="display:none">@Html.ActionLink("MFR List", "MFRList", "MFRListReport")</li>
                                    <li style="display:none">@Html.ActionLink("Machine Faulty", "MachineFaulty", "MachineFaultyReport")</li>
                                    <li>@Html.ActionLink("MFR Duration", "MFRDuration", "MFRDurationReport")</li>
                                    <li style="display:none">@Html.ActionLink("Faulty Board", "FaultyBoard", "FaultyBoardReport")</li>
                                    <li>@Html.ActionLink("Spare Status Invoice", "SpareInvoice", "SpareReport")</li>
                                    <li>@Html.ActionLink("BSOH Report", "LEReport", "Reports")</li>

                                    @*<li>@Html.ActionLink("Operation Panipat Report ", "YJTLeadReport", "Reports")</li>*@

                                    <li>@Html.ActionLink("RC Single Machine Report", "YJTLeadReportNew", "Reports")</li>
                                    <li>@Html.ActionLink("RevisedLead Generation", "RevisedLeadGenerationReport", "RLG")</li>
                                    <li>@Html.ActionLink("Total Number Of Quotations", "TotalNumberOfQuotations", "QuotationReportGenerator")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock Details<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@*@Html.ActionLink("Enquiry Report", "LEReport", "Reports")*@</li>
                                    <li>@Html.ActionLink("Machine Stock", "Index", "MachineStock")</li>
                                    <li>@Html.ActionLink("Spares Stock", "AddInward", "Inward")</li>
                                    <li>@Html.ActionLink("Present Spare Stock", "PresentSpareStock", "PresentSpareStock")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dispatch Details<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("Machine Dispatch ", "MachineDispatchView", "MachineDispatchDetails")</li>
                                    <li>@Html.ActionLink("Spares Dispatch", "Outward", "MainDashboard")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MFR<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("MFR", "MFRView", "MFR")</li>
                                    <li>@Html.ActionLink("MFR View", "MFRAdminView", "MFR")</li>
                                    <li>@Html.ActionLink("Zone Master", "Index", "ZonalMaster")</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("HOD", "HODReprint", "HOD")</li>

                            @*<li>@Html.ActionLink("Map", "MapFilters", "LeadEnquiry")</li>*@

                            @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">OCM<b class="caret"></b></a>
            <ul class='dropdown-menu'>
                <li>@Html.ActionLink("OCM Accessories", "Index", "OCMAccessories")</li>
                <li>@Html.ActionLink("OCM Brake", "Index", "OCMBrake")</li>
                <li>@Html.ActionLink("OCM CTCoil", "Index", "OCMCTCoil")</li>
                <li>@Html.ActionLink("OCM Drive", "Index", "OCMDrive")</li>
                <li>@Html.ActionLink("OCM Motor", "Index", "OCMMotor")</li>
                <li>@Html.ActionLink("OCM Passage Sticker", "Index", "OCMPassageSticker")</li>
                <li>@Html.ActionLink("OCM ReducerRing", "Index", "OCMReducerRing")</li>
                <li>@Html.ActionLink("OCM Sieve", "Index", "OCMSieve")</li>
                <li>@Html.ActionLink("OCM Stone", "Index", "OCMStone")</li>

                <li>@Html.ActionLink("OCM Polisher Report", "Index", "OCMPolisher")</li>
                <li>@Html.ActionLink("OCM Whitner Report", "Index", "OCMWhitner")</li>
            </ul>
        </li>*@

                            @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mail's<b class="caret"></b></a>
            <ul class='dropdown-menu'>
                <li>@Html.ActionLink("Mail From", "Index", "MailSendCredentials")</li>
                 <li>@Html.ActionLink("Buhler Mail ID", "Index", "BuhlerAdminCC")</li>
                <li>@Html.ActionLink("Channel Partner Mail ID", "Index", "CPEmailID")</li>
            </ul>
        </li>*@

                            @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mail Master<b class="caret"></b></a>
            <ul class='dropdown-menu'>
                <li>@Html.ActionLink("Mail Master", "Index", "MailMaster")</li>
            </ul>
        </li>*@

                            @*<li>@Html.ActionLink("MFR", "MFRView", "MFR")</li>*@
                        </ul>
                        <ul class="nav pull-right" style="padding-right: 50px">
                            <li style="padding-top: 10px">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("ChannelPartnerAdmin"))
        {
            <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
                <div class="navbar-inner">
                    <div class="container" style="width: auto; padding: 0 20px;">
                        <a class="brand" href="/Synergy/Synergy">Synergy</a>
                        <ul class="nav" id="subnav2">
                            @*Lead enquiry form*@
                            @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Lead<b class="caret"></b></a>
                                <ul class='dropdown-menu'>*@
                                    <li>@Html.ActionLink("Lead", "LEIndexRevised", "LeadEnquiry")</li>
				                    @*<li>@Html.ActionLink("BSOH Leads", "LEIndex", "LeadEnquiry")</li>*@

                                     @* <li>@Html.ActionLink("Map", "MapFilters", "LeadEnquiry")</li>                                  *@
                                @*</ul>
                            </li>*@
                            @*end Enquiry Form*@

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quotation<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Sorter Quotation", "Create", "Quotation")</li>
                                    <li>@Html.ActionLink("Single Machine Quotation", "RiceMillGenerate", "Quotation")</li>
                                    <li>@Html.ActionLink("Spare Quote Generator", "Create", "QuotationSpares")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("MDB", "Index", "MDB")</li>
                            <li><a href="http://13.233.129.21:8031?uid=@Session["userID"].ToString()" target="_blank">Pre-Order Stage</a></li>
                              <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">SOT<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                            <li>@Html.ActionLink("SOT Sorter", "Index", "SOT")</li>
                            <li>@Html.ActionLink("SOT RM", "SOTRMList", "SOTRM")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sorter OA<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Generate New Orders", "OAView", "OA")</li>*@
                                    <li>@Html.ActionLink("Revise Exisiting Orders", "OAExisting", "OA")</li>
                                    <li>@Html.ActionLink("Order Status Tracker", "OAChannelStatus", "OA")</li>
                                    <li>@Html.ActionLink("Machine Dispatch Tracker", "MachineDispatchTracker", "OA")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single Machine OA<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Generate New Orders", "RiceOAView", "RiceOA")</li>*@
                                    <li>@Html.ActionLink("Revise Exisiting Orders", "RiceOAExisting", "RiceOA")</li>
                                    <li>@Html.ActionLink("Order Status Tracker", "RiceOAChannelStatus", "RiceOA")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOD<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Generate HOD", "HODView", "HOD")</li>
                                    <li>@Html.ActionLink("Reprint HOD", "HODReprint", "HOD")</li>
                                    <li>@Html.ActionLink(" HOD - RM ", "RMHOD", "HOD")</li>
                                </ul>
                            </li>
                            @*<li>@Html.ActionLink("HOD", "HODView", "HOD")</li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MFR<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Generate MFR", "MFRGenerate", "MFR")</li>
                                    <li>@Html.ActionLink("MFR View", "MFRChannelView", "MFR")</li>
                                    <li>@Html.ActionLink("Reprint MFR", "MFRReprint", "MFR")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Equipment At Site", "EquipSalesByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Equipment Sales By Volume", "EquipSalesByVolAck", "Reports")</li>
                                    <li>@Html.ActionLink("SOT By Volume", "SOTByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Lost Order Analysis", "LostOrderAnalysisReport", "Reports")</li>
                                     <li>@*@Html.ActionLink("Operation Panipat Report", "YJTLeadReport", "Reports")*@</li>

									 <li>@Html.ActionLink("RC Single Machine Report", "YJTLeadReportNew", "Reports")</li>

                                </ul>
                            </li>


                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dispatch<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Machines", "MachineDispatchTracker", "OA")</li>
                                    <li>@Html.ActionLink("Spares", "Index", "OutwardMFR")</li>

                                </ul>
                            </li>

                            <li>@Html.ActionLink("User Registration", "UserLogin", "Account")</li>
                        </ul>
                        <ul class="nav pull-right" style="padding-right: 50px">
                            <li style="padding-top: 10px">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("ChannelPartnerUser"))
        {
            <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
                <div class="navbar-inner">
                    <div class="container" style="width: auto; padding: 0 20px;">
                        <a class="brand" href="/Synergy/Synergy">Synergy</a>
                        <ul class="nav" id="subnav3">
                            @*Lead enquiry form*@
                            @* <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Lead<b class="caret"></b></a>
            <ul class='dropdown-menu'>
                <li>@Html.ActionLink("RC Single Machine", "LEIndexRevised", "LeadEnquiry")</li>
            </ul>
        </li>*@
                            <li>@Html.ActionLink("Lead", "LEIndexRevised", "LeadEnquiry")</li>
                            @*end Enquiry Form*@

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quotation<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Equipment Quote Generator", "Create", "Quotation")</li>
                                    <li>@Html.ActionLink("Rice Mill Quote Generator", "RiceMillGenerate", "Quotation")</li>
                                    <li>@Html.ActionLink("Spare Quote Generator", "Create", "QuotationSpares")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("MDB", "Index", "MDB")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SOT<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("SOT Sorter", "Index", "SOT")</li>
                                    <li>@Html.ActionLink("SOT RM", "SOTRMList", "SOTRM")</li>
                                </ul>
                            </li>
                            <li><a href="http://13.233.129.21:8031?uid=@Session["userID"].ToString()" target="_blank">Pre-Order Stage</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sorter OA<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Generate New Orders", "OAView", "OA")</li>*@
                                    <li>@Html.ActionLink("Revise Exisiting Orders", "OAExisting", "OA")</li>
                                    <li>@Html.ActionLink("Order Status Tracker", "OAChannelStatus", "OA")</li>
                                    <li>@Html.ActionLink("Machine Dispatch Tracker", "MachineDispatchTracker", "OA")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rice OA<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Generate New Orders", "RiceOAView", "RiceOA")</li>*@
                                    <li>@Html.ActionLink("Revise Exisiting Orders", "RiceOAExisting", "RiceOA")</li>
                                    <li>@Html.ActionLink("Order Status Tracker", "RiceOAChannelStatus", "RiceOA")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOD<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Generate HOD", "HODView", "HOD")</li>
                                    <li>@Html.ActionLink("Reprint HOD", "HODReprint", "HOD")</li>
                                </ul>
                            </li>
                            @*<li>@Html.ActionLink("HOD", "HODView", "HOD")</li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MFR<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Generate MFR", "MFRGenerate", "MFR")</li>
                                    <li>@Html.ActionLink("MFR View", "MFRChannelView", "MFR")</li>
                                    <li>@Html.ActionLink("Reprint MFR", "MFRReprint", "MFR")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">


                                    <li>@Html.ActionLink("Commissioned Machines", "EquipSalesByVol", "Reports")</li>
                                    <li>@*@Html.ActionLink("Equipment At Site", "EquipSalesByVol", "Reports")*@</li>

                                    <li>@Html.ActionLink("Order Released Machines", "EquipSalesByVolAck", "Reports")</li>
                                    <li>@*@Html.ActionLink("Equipment Sales By Volume", "EquipSalesByVolAck", "Reports")*@</li>

                                    <li>@Html.ActionLink("SOT By Volume", "SOTByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Lost Order Analysis", "LostOrderAnalysisReport", "Reports")</li>
                                    <li>@*@Html.ActionLink("Operation Panipat Report", "YJTLeadReport", "Reports")*@</li>

                                    <li>@Html.ActionLink("RC Single Machine Report", "YJTLeadReportNew", "Reports")</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right" style="padding-right: 50px">
                            <li style="padding-top: 10px">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("ZonalManager"))
        {
            <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
                <div class="navbar-inner">
                    <div class="container" style="width: auto; padding: 0 20px;">
                        <a class="brand" href="/MainDashboard/MainDashboard">Synergy</a>
                        <ul class="nav" id="subnav1">

                            <li>@Html.ActionLink("Channel Partners MDB", "CPMDB", "MDB")</li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">SOT<b class="caret"></b></a>
                                <ul class='dropdown-menu'>
                                    <li>@Html.ActionLink("SOT RM", "SOTRMList", "SOTRM")</li>
                                    <li>@Html.ActionLink("SOT Report", "SOTReport", "SOT")</li>
                                </ul>
                            </li>
							<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Order Released Machines", "EquipSalesByVolAck", "Reports")</li>
                                    <li>@Html.ActionLink("Commissioned Machines", "EquipSalesByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Machine Invoiced", "MachineInvoiced", "Reports")</li>
                                    <li>@Html.ActionLink("SOT By Volume", "SOTByVol", "Reports")</li>
                                    <li>@Html.ActionLink("Channel Partner Performance", "CPPerformanceReview", "Reports")</li>
                                    <li>@Html.ActionLink("Lost Order Analysis", "LostOrderAnalysisReport", "Reports")</li>
                                    @*<li>@Html.ActionLink("Spare Status MFR", "SpareMFR", "SpareReport")</li>*@
                                    @*<li>@Html.ActionLink("Spare Status Invoice", "SpareInvoice", "SpareReport")</li>*@
                                    <li>@Html.ActionLink("BSOH Report", "LEReport", "Reports")</li>
                                    @*<li>@Html.ActionLink("Operation Panipat Report", "YJTLeadReport", "Reports")</li>*@

									<li>@Html.ActionLink("RC Single Machine Report", "YJTLeadReportNew", "Reports")</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right" style="padding-right: 50px">
                            <li style="padding-top: 10px">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
            </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>

