@model IEnumerable<SRKSSynergy.Models.LeadEnquiry>
@{
    ViewBag.Title = "ViewLeadsIndividual";
    Layout = null;
    int slno = 1;
}

<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/MDB.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/jquery.ui.autocomplete.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/print.css" media="print" rel="stylesheet" />
<script src="~/Content/bootstrap/js/jquery.js"></script>
<script src="~/Content/bootstrap/js/jquery-ui.js"></script>
<script src="~/Content/bootstrap/js/jquery1.8.2.min.js"></script>
<script src="~/Content/bootstrap/js/jQuery%20UI%201.9.2.js"></script>

<div class="bcgr" style="height: 14000px; width: 1100px; padding-top: 5%">
    <div class="navbar-fixed-top" style="background: gray; padding-bottom: 15px">
        <p class="txtft1">Leads Generated</p>
        <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
            <ul class="nav pull-right " style="padding-right: 50px">
                <li style="padding-top: 10px; font: 20px; color: white;">
                    <a href="/Account/Login" class="btn" style="width: 50px; height: 15px; background: #009B91; text-decoration: none; font-size: 14px; color: white;"><strong>Logout</strong></a>
                </li>
            </ul>
        </div>
        <div class="navbar navbar-fixed-top" style="margin: -1px -1px 0;">
            <ul class="nav pull-left " style="padding-right: 50px">
                <li style="padding-top: 7%; font: 20px; color: white;">
                    <a href="/Account/LiveDashBoard" class="btn" style="width: 50px; height: 15px; background: #009B91; text-decoration: none; font-size: 14px; color: white; display: inline;">Live DashBoard</a>
                    <a href="/MainDashboard/MainDashboard" class="btn" style="width: 50px; height: 15px; background: #009B91; text-decoration: none; font-size: 14px; color: white; display: inline">Main DashBoard</a>
                </li>
            </ul>
        </div>
    </div>

    <div style="background: #BBBEBD; padding-bottom: 5px; height: 40px">
        <p class="txtft" style="font-size: 22px"><a href="/LeadEnquiry/TotalLeads" class="btn" style=" height: 15px; background: #009B91; text-decoration: none; font-size: 14px; color: white;float:left"><strong>Back ToList</strong></a>
            Period    &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
                      From:- @ViewBag.Fromdate&nbsp;&nbsp; &nbsp; &nbsp;To:- @ViewBag.Todate
        </p>
    </div>

    <form action="@Url.Action("ViewLeadsIndividual", "LeadEnquiry")" method="post">

        @*Success Message*@
        @if (TempData["Success"] != null)
        {
            <p style="color: red; font-weight: 900; padding-left: 170px">@TempData["Success"]</p>
        }

@* Table for Equipment *@
        <table class="table table-hover" style="width: 1400px;">
            <tr style="background: #BBBEBD; padding-bottom: 10px; padding-top: 10px">
                <th style="width: 40px; text-align: center">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">Serial No.</span>
                </th>
                <th style="width: 160px; text-align: center">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">Channal Partner</span>
                </th>
                <th style="width: 160px; text-align: center">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">Customer Name</span>
                </th>
                <th style="width: 120px; text-align: center;">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">Generated Date & Time</span>
                </th>
                <th style="width: 90px; text-align: center;">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">City</span>
                </th>
                <th style="width: 100px; text-align: center">
                    <span style="font-family: Calibri; font-size: 18px; padding-bottom: 10px; padding-top: 10px">Leads Status</span>
                </th>
                <th style="width: 250px;" class="noPrint"></th>
            </tr>
            @{
                DateTime now = DateTime.Now;
                var startDate = new DateTime(now.Year, now.Month, 1);
                var enddate = System.DateTime.Now;
                var enddate1 = startDate.AddMonths(1).AddDays(-1);
                var yesterday = DateTime.Today.AddDays(-1);
                SRKSSynergy.Models.SRKS_Synergy db = new SRKSSynergy.Models.SRKS_Synergy();
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 40px; text-align: center; font-family: Calibri; font-size: 18px">
                        @slno
                    </td>
                    <td style="width: 120px; text-align: center; font-family: Calibri; font-size: 18px">
                        @if (item.CPID != 0)
                        {
                            {
                                var name = db.ChannelPartners.Where(m => m.CPID == item.CPID).Select(m => m.CPName).SingleOrDefault();
                                ViewBag.drp1 = name;
                            }                        
                            @ViewBag.drp1
                        }
                        else
                        {
                            <label style="font-family: Calibri; font-size: 18px;">Buhler India Pvt Ltd</label>
                        }
                    </td>
                    <td style="width: 90px; text-align: center; font-family: Calibri; font-size: 18px">
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td style="width: 120px; text-align: center; font-family: Calibri; font-size: 18px">
                        @{
                        //var created = db.LeadEnquiry.Where(m => m.IsDeleted == 0).Where(m => m.LEID == item.LEID).Where(m => m.CreatedOn > startDate && m.CreatedOn < enddate).Select(m => m.NotifyDate).SingleOrDefault();
                        var created = (from r in db.LeadEnquiry
                                       where r.IsDeleted == 0 && r.LEID == item.LEID && r.CreatedOn >= startDate && r.CreatedOn <= enddate
                                       select r.NotifyDate).SingleOrDefault();

                        DateTime td = Convert.ToDateTime(created);
                        string dd = td.ToString("dd-MM-yyyy hh:mm:ss ");
                        ViewBag.drp = dd;                
                        }
                        @ViewBag.drp
                    </td>

                    <td style="width: 90px; text-align: center; font-family: Calibri; font-size: 18px">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>

                    <td style="width: 120px; text-align: center; font-family: Calibri; font-size: 18px">
                        @if (item.IsStatus == 0)
                        {
                            <span>Lead is Open</span>
                        }
                        else if (item.IsStatus == 1)
                        {
                            <span>Lead Closed (Moved to MDB)</span> 
                        }
                        else if (item.IsStatus == 2 && item.IsDrop >= 1)
                        {
                            <span>Lead Dropped</span>
                        }
                        else if (item.IsStatus == 3)
                        {
                            <span>Quotation Generated</span>
                        }
                    </td>
                </tr>                 
                        slno++;
            }
        </table>
</div>

</form>