@model IEnumerable<SRKSSynergy.Models.BuhlerAdminCC>
@{
    ViewBag.Title = "Index";
    int slno = 1;
}
<!-- glyphicons help -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<div class="bcgr">
    <div style="background: gray;height:60px">
        <p class="txtft">Buhler Email's List (CC Mail)</p>
    </div>
    <p>
        @Html.ActionLink("Add New", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-plus", @style = "color:white" })
    </p>
    
    <table class="table table-hover table-condensed">
        <tr style="background: #BBBEBD; padding-bottom: 10px; padding-top: 10px;">
            <th style="width: inherit; text-align: center; font-family: Calibri; font-size: 17px; padding-bottom: 5px; padding-top: 5px">
                <span style="font-family: Calibri; font-size: 17px; padding-bottom: 10px; padding-top: 10px">Sl No.</span>
            </th>
            <th style="width: auto; text-align: center; font-family: Calibri; font-size: 17px; padding-bottom: 5px; padding-top: 5px">
                <span style="font-family: Calibri; font-size: 17px; padding-bottom: 10px; padding-top: 10px">Name</span>
            </th> 
             <th style="width: auto; text-align: center; font-family: Calibri; font-size: 17px; padding-bottom: 5px; padding-top: 5px">
                <span style="font-family: Calibri; font-size: 17px; padding-bottom: 10px; padding-top: 10px">Email ID</span>
            </th> 
             <th style="width: auto; text-align: center; font-family: Calibri; font-size: 17px; padding-bottom: 5px; padding-top: 5px">
                <span style="font-family: Calibri; font-size: 17px; padding-bottom: 10px; padding-top: 10px">Designation</span>
            </th> 
             <th style="width: auto; text-align: center; font-family: Calibri; font-size: 17px; padding-bottom: 5px; padding-top: 5px">
                <span style="font-family: Calibri; font-size: 17px; padding-bottom: 10px; padding-top: 10px">Type</span>
            </th>            
        </tr>
               @{                        
                        SRKSSynergy.Models.SRKS_Synergy db = new SRKSSynergy.Models.SRKS_Synergy();
                        }
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">
                    @slno
                </td>
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">                               
                    @Html.DisplayFor(modelItem => item.Type)  

                 @if(item.ZonalManagerID != 0)
                {         
                    int zoneid = Convert.ToInt32(item.ZonalManagerID);
                    var name = db.Zone.Where(m => m.ZoneID == zoneid).Select(m => m.ZonalMangerName).SingleOrDefault();
                    ViewBag.drp1 = name; 
                }    
                    @ViewBag.drp1   
                     </td>        
                <td style="width: auto; text-align: center; font-family: Calibri; font-size: 16px">
                      @Html.ActionLink("Edit", "Edit", new { id = item.BAID }, new { @id = "Deselect", @class = "btn btn-primary glyphicon glyphicon-pencil", @style = "color:white" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.BAID }, new { @id = "Deselect", @class = "btn btn-danger glyphicon glyphicon-trash", @style = "color:white" })
                </td>
            </tr>
            slno = slno + 1;
        }
    </table>
</div>

